<html>
    <head>
        <title>hello</title>
    </head>
    <body>
        <div>
            <h2>hello</h2>
            <pre>
<% result.each do |k,v| %>
   <%=k %>
   <%=v %>
<% end %>
</pre>
            </div>
        </body>
    </html>
