<div>
  <h2>Enter a url</h2>
  <p>support vancl, 360buy, m18, taobao, amazon currently.</p>
  <form action="" method="post">
    <input type="text" name="url" value=""/>
    <input type="submit" name="" value="parse">
  </form>
</div>
<div id="result">
  <% if @products %>
    <% @products.each do |p| %>
      <p>
      <%=p.inspect %>
      </p>
    <% end %>
  <% end %>
</div>
